<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-6 txtfoo">
				<p>Copyright © 2016<a ng-href="/"> - AllParks - </a> - Creado por Leonor Torres y Juan José Marín<br>| <a ng-href="showForm">Contacto</a></p>
			</div>
			<div class="col-md-4 icofoo">
				<a href=""><img src="img/icons/fb.png"></a>
				<a href=""><img src="img/icons/twitter.png"></a>
				<a href=""><img src="img/icons/inst.png"></a>
				<a href=""><img src="img/icons/youtube.png"></a>
			</div>
		</div>
	</div>
</footer>